{% extends 'base.html' %}
{% load humanize %}
{% block body %}
    <div class="container">
        <div class="row">
            {% if flag_exists %}
            <div class="col s2 m1">
                <img src="/static/img/flags/{{ country.name }}.svg" alt="Country flag" class="circle z-depth-2 img-responsive country-flag">
            </div>
            {% endif %}
            <div class="col s10 m11">
                <h3 class="bold">{{ country.name }}</h3>
            </div>
        </div>
        {% if viti_areas %}
        <div class="row">
            <div class="col s12 m8">
                <h5>Viticultural Areas</h5>
                <table class="highlight responsive">
                    <thead>
                    <tr>
                        <th>Viticultural Area</th>
                        <th class="num-col">Wines</th>
                        <th class="num-col">Avg Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for viti_area in viti_areas %}
                        <tr>
                            <td>{{ viti_area.0 }}</td>
                            <td class="num-col">{{ viti_area.1 }}</td>
                            <td class="num-col">
                                {% if viti_area.2 %}
                                {{ viti_area.2|floatformat:"2" }}
                                {% else %}
                                &ndash;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col s12">
                <h5>Wines</h5>
                <table class="highlight responsive">
                    <thead>
                    <tr>
                        <th>Last Purchased</th>
                        <th>Name</th>
                        <th>Producer</th>
                        <th>Description</th>
                        <th class="num-col">Total Quantity</th>
                        <th class="num-col">Avg. Price</th>
                        <th class="num-col">Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wine in wines %}
                        <tr>
                            {% if wine.0 %}
                                <td><a href="{% url "Wine Profile" wine_id=wine.8 %}">{{ wine.0|naturalday:"b j, Y"|title }}</a></td>
                            {% else %}
                                <td><a href="{% url "Wine Profile" wine_id=wine.8 %}">&ndash;</a></td>
                            {% endif %}
                            <td><a href="{% url "Wine Profile" wine_id=wine.8 %}">{{ wine.1 }}</a></td>
                            <td><a href="{% url "Producer Profile" producer_id=wine.9 %}">{{ wine.7 }}</a></td>
                            <td><a href="{% url "Wine Profile" wine_id=wine.8 %}">{{ wine.2|default_if_none:"" }}</a></td>
                            <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.8 %}">{{ wine.4|default_if_none:"&ndash;" }}</a></td>
                            <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.8 %}">{{ wine.5|floatformat:"2" }}</a></td>
                            <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.8 %}">{{ wine.6|default_if_none:"&ndash;" }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

