{% extends 'wines_table.html' %}
{% block pagination-top %}<p><i>Pagination is not yet implemented for filter and sort.</i></p>{% endblock %}
{% block wine-table-body %}
    {% for wine in wines %}
        <tr>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.1|title }}</a></td>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.2 }}</a></td>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.3 }}</a></td>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.4 }}</a></td>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.5|default_if_none:"" }}</a></td>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.6|default_if_none:"" }}</a></td>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.7|default_if_none:"" }}</a></td>
            <td><a href="{% url "Wine Profile" wine_id=wine.0 %}">{{ wine.8|default_if_none:"" }}</a></td>
        </tr>
    {% endfor %}
{% endblock %}
{% block pagination-bottom %}{% endblock %}
