{% extends 'base.html' %}
{% load humanize %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="bold">{{ producer.name }}</h3>
                {% if producer.region %}
                    <h4 class="light"><a class="text-link" href="{% url "Region Profile" region_id=producer.region_id %}"> {{ producer.region.name }}</a></h4>
                {% else %}
                    <h5>This producer currently does not have a region, please add one.</h5>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s9">
                <h4>Wines</h4>
            </div>
            <div class="col s3 fixed-action-div">
                <div class="fixed-action-btn horizontal">
                    <a class="btn-floating btn-large pink darken-3">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul>
                        <li>
                            <a class="btn-floating yellow darken-2 waves-effect waves-light" href="{% url "Edit Producer" producer_id=producer.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </li>
{#                        <li>#}
{#                            <a class="btn-floating pink darken-3 modal-trigger waves-effect waves-light" href="#delete-modal">#}
{#                                <i class="material-icons">delete</i>#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
            <div class="col s12">
                <table class="highlight responsive">
                    <thead>
                    <tr>
                        <th>Last Purchased</th>
                        <th>Color</th>
                        <th>Name and Type</th>
                        <th>Description</th>
                        <th class="num-col">Total Quantity</th>
                        <th class="num-col">Avg Price</th>
                        <th class="num-col">Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wine in wines %}
                    <tr>
                        {% if wine.last_purchased_date %}
                            <td><a href="{% url "Wine Profile" wine_id=wine.id %}"> {{ wine.last_purchased_date|naturalday:"b j, Y"|title }}</a></td>
                        {% else %}
                            <td><a href="{% url "Wine Profile" wine_id=wine.id %}">&ndash;</a></td>
                        {% endif %}
                        <td><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.color|title }}</a></td>
                        {% if wine.wine_type_id %}
                            <td><a href="{% url "Wine Type Profile" wine_type_id=wine.wine_type_id %}">{{ wine.name }} {{ wine.type }}</a></td>
                        {% else %}
                            <td><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.name }} {{ wine.type }}</a></td>
                        {% endif %}
                        <td><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.description|default_if_none:"" }}</a></td>
                        <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.total_quantity|default_if_none:"&ndash;" }}</a></td>
                        <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.avg_price|floatformat:"2" }}</a></td>
                        <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.rating|default_if_none:"&ndash;" }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
