{% extends 'base.html' %}
{% load humanize %}
{% load vinoteca %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if flag_exists %}
            <div class="col s2 m1">
                <img src="/static/img/flags/{{ region.name }}.svg" alt="Region flag" class="circle z-depth-2 img-responsive region-flag">
            </div>
            {% endif %}
            <div class="col s10 m11">
                <h3 class="bold">{{ region.name }}</h3>
            </div>
        </div>
        {% if viti_areas %}
        <div class="row">
            <div class="col s12 m8">
                <h5>Viticultural Areas</h5>
                <table class="highlight responsive condensed">
                    <thead>
                    <tr>
                        <th>Viticultural Area</th>
                        <th class="num-col">Wines</th>
                        <th class="num-col">Avg Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for viti_area in viti_areas %}
                        <tr>
                            <td>{{ viti_area.name }}</td>
                            <td class="num-col">{{ viti_area.total_quantity }}</td>
                            <td class="num-col"> {{ viti_area.avg_rating|floatformat:"2"|defndash }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col s12">
                <h5>Wines</h5>
                <table class="highlight responsive condensed">
                    <thead>
                    <tr>
                        <th>Last Purchased</th>
                        <th>Color</th>
                        <th>Name and Type</th>
                        <th>Producer</th>
                        <th>Description</th>
                        <th class="num-col">Total Quantity</th>
                        <th class="num-col">Avg Price</th>
                        <th class="num-col">Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wine in wines %}
                        <tr>
                            {% if wine.last_purchased_date %}
                                <td><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.last_purchased_date|inttodate|naturalday:"b j, Y"|title }}</a></td>
                            {% else %}
                                <td><a href="{% url "Wine Profile" wine_id=wine.id %}">&ndash;</a></td>
                            {% endif %}
                            <td><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.color.name|title }}</a></td>
                            {% if wine.wine_type %}
                                <td><a href="{% url "Wine Type Profile" wine_type_id=wine.wine_type.id %}">{{ wine.name|default_if_none:"" }} {{ wine.wine_type.name }}</a></td>
                            {% else %}
                                <td><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.name|default_if_none:"" }} {{ wine.wine_type.name }}</a></td>
                            {% endif %}
                            <td><a href="{% url "Producer Profile" producer_id=wine.producer.id %}">{{ wine.producer.name }}</a></td>
                            <td><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.description|default_if_none:"" }}</a></td>
                            <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.total_quantity|defndash }}</a></td>
                            <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.avg_price|floatformat:"2"|defndash }}</a></td>
                            <td class="num-col"><a href="{% url "Wine Profile" wine_id=wine.id %}">{{ wine.rating|defndash }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

