{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load vinoteca %}

{% block new-nav %}class="active"{% endblock %}
{% block body %}
<div class="container">
    {% block wine-title %}
    <div class="row">
        <div class="col s12">
            <h3 class="bold">{{ wine.name|default_if_none:"" }}
                {% if wine.wine_type %}
                    <a href="{% url "Wine Type Profile" wine_type_id=wine.wine_type.id %}">{{ wine.wine_type.name|title }}</a>
                {% else %}
                    {{ wine.wine_type.name|title }}
                {% endif %}</h3>
            <h4>
                {% if wine.producer %}
                    <a class="text-link" href="{% url "Producer Profile" producer_id=wine.producer.id %}">{{ wine.producer.name }}</a>
                {% endif %}
                {% if wine.region and wine.producer %}
                    of
                {% endif %}
                {% if wine.region %}
                    <a class="text-link" href="{% url "Region Profile" region_id=wine.region.id %}">{{ wine.region.name }}</a>
                {% else %}
                    This producer currently does not have a region, please add one.
                {% endif %}
            </h4>
        </div>
        <div class="col s12 m6">
            <h5 class="light">{{ wine.color.name|title }}</h5>
            <h5 class="inline-h"><b>Inventory: </b> {{ wine.inventory }}</h5> &thinsp;
            <a class="waves-effect waves-light btn-floating btn-floating-small light-green lighten-2" href="{% url "Change Inventory" wine_id=wine.id sign="add" %}">
                <i class="material-icons">add_circle</i>
            </a>
            {% if wine.inventory > 0 %}
                <a class="waves-effect waves-light btn-floating btn-floating-small pink darken-3" href="{% url "Change Inventory" wine_id=wine.id sign="subtract" %}">
                    <i class="material-icons">do_not_disturb_on</i>
                </a>
            {% endif %}
            {% if recent_vintage %}
                <h5><b>Vintage:</b> {{ recent_vintage }}</h5>
            {% endif %}
            {% if wine.viti_area %}
                <h5><b>Viticultural Area:</b> {{ wine.viti_area.name }}</h5>
            {% endif %}
            {% if wine.description %}
                <h6><b>Description:</b> {{ wine.description }}</h6>
            {% endif %}
            {% if wine.rating %}
                <h6><b>Rating:</b> {{ wine.rating }}</h6>
            {% endif %}
            {% if wine.notes %}
                <h6><b>Notes:</b> {{ wine.notes }}</h6>
            {% endif %}
            {% if wine.why %}
                <h6><b>Why:</b> {{ wine.why }}</h6>
            {% endif %}
        </div>
        {% if grapes %}
        <div class="col s12 m6">
            <h5 class="light">Grape composition</h5>
            <ul class="tabs tabs-fixed-with">
                <li class="wine-red-tab tab col s6" id="grape-comp-table-li"><a href="#grape-comp-table-tab">Table</a></li>
                <li class="wine-green-tab tab col s6" id="grape-comp-chart-li"><a href="#grape-comp-chart-tab">Pie chart</a></li>
            </ul>
            <div id="grape-comp-table-tab" class="s12">
                <table class="highlight responsive">
                    <thead>
                    <tr>
                        <th>Grape</th>
                        <th class="num-col">Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for grape in grapes %}
                        <tr>
                            <td>{{ grape.grape.name }}</td>
                            <td class="num-col">{{ grape.percent|default_if_none:"" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="grape-comp-chart-tab" class="s12">
                <canvas id="grape-comp-chart"></canvas>
            </div>
        {% endif %}
    </div>
        {% if has_img %}
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="/media/{{ wine.id }}.png" alt="Wine Image">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block prev_purchases %}
        <div class="row">
            <div class="col s9">
                {% if purchases %}
                    <h4>Purchases</h4>
                {% else %}
                    <h5>No previously recorded purchases.</h5>
                {% endif  %}
            </div>
            <div class="col s3 fixed-action-div">
                {% block edit-wine %}
                    <div class="fixed-action-btn horizontal">
                        <a class="btn-floating btn-large pink darken-3">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul>
                            <li>
                                <a class="btn-floating light-green darken-2 waves-effect waves-light" href="{% url "New Purchase Wine" wine_id=wine.id %}">
                                    <i class="material-icons">add</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating yellow darken-2 waves-effect waves-light" href="{% url "Edit Wine" wine_id=wine.id %}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating pink darken-3 modal-trigger waves-effect waves-light" href="#delete-modal">
                                    <i class="material-icons">delete</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="delete-modal" class="modal ">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete this wine?</h5>
                            <p>This action is not reversible.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url "Delete Wine" wine_id=wine.id %}" class="btn modal-action pink darken-3 waves-effect waves-light" id="delete-wine-btn">Yes, delete this wine</a>
                            <a href="" class="btn modal-action modal-close light-green darken-2 waves-effect waves-light">No</a>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
        {% if purchases %}
            <div class="row">
                <div class="col s12">
                    <table class="highlight responsive">
                        <thead>
                        <tr>
                            {% block table-edit-head %}{% endblock %}
                            <th>Date</th>
                            <th class="num-col">Quantity</th>
                            <th class="num-col">Price</th>
                            <th class="num-col">Vintage</th>
                            <th>Store</th>
                            <th>Memo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchase in purchases %}
                            <tr>
                                {% block table-edit-body %}{% endblock %}
                                {% if purchase.date %}
                                    <td>{{ purchase.date|inttodate|naturalday:"b j, Y"|title }}</td>
                                {% else %}
                                    <td>&ndash;</td>
                                {% endif %}
                                <td class="num-col">{{ purchase.quantity|defndash }}</td>
                                <td class="num-col">{{ purchase.price|floatformat:2|defndash }}</td>
                                <td class="num-col">{{ purchase.vintage|default_if_none:"NV" }}</td>
                                <td>{{ purchase.store.name }}</td>
                                <td>{{ purchase.memo|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

            </div>

        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block add_body %}
    {% endblock %}
</div>
{% endblock %}
{% block js %}
<script src="{% static "js/Chart.bundle.min.js" %}"></script>
<script type="module">
import { tabs, setTabAccessibility } from '{% static "js/widgets.js" %}'
import { pieChart } from '{% static "js/wine_charts.js" %}'
import { pipe } from '{% static "js/utils.js" %}'

$(function () {
    $("#delete-modal").modal();
    tabs();
    {% if grapes %}
        pipe({
            {% for grape in grapes %}
                "{{ grape.grape.name }}": {{ grape.percent|default_if_none:0 }},
            {% endfor %}
        }).chain(
            chartData => pieChart($("#grape-comp-chart"), chartData)
        ).chain(
            success => setTabAccessibility($("#grape-comp-chart-li"), success)
        );
    {% else %}
        setTabAccessibility($("#grape-comp-chart-li"), false);
    {% endif %}
});
</script>
{% endblock %}
