{% extends 'base.html' %}
{% load humanize %}
{% block new-nav %}class="active"{% endblock %}
{% block body %}
<div class="container">
    {% block wine-title %}
    <div class="row">
        <div class="col s12">
            <h3 class="bold">{{ wine.wine_type|title }}</h3>
            <h4>
                <a class="text-link" href="{% url "Producer Profile" producer_id=wine.producer_id %}">{{ wine.producer }}</a>
                of <a class="text-link" href="{% url "Country Profile" country_id=wine.region_id %}">{{ wine.region }}</a>
            </h4>
        </div>
        <div class="col s12 m6">
            <h5 class="light">{{ wine.color|title }}</h5>
            <h5 class="inline-h"><b>Inventory: </b> {{ wine.inventory }}</h5> &thinsp;
            <a class="waves-effect waves-light btn-floating btn-floating-small light-green lighten-2" href="{% url "Change Inventory" wine_id=wine.id sign="add" %}">
                <i class="material-icons">add_circle</i>
            </a>
            {% if inventory > 0 %}
                <a class="waves-effect waves-light btn-floating btn-floating-small pink darken-3" href="{% url "Change Inventory" wine_id=wine.id sign="subtract" %}">
                    <i class="material-icons">do_not_disturb_on</i>
                </a>
            {% endif %}
            {% if recent_vintage %}
                <h6><b>Vintage: {{ recent_vintage }}</b></h6>
            {% endif %}
            {% if wine.viti_area %}
                <h6><b>Viticultural Area: {{ wine.viti_area }}</b></h6>
            {% endif %}
            {% if wine.description %}
                <h6><b>Description:</b> {{ wine.description }}</h6>
            {% endif %}
            {% if wine.rating %}
                <h6><b>Rating:</b> {{ wine.rating }}</h6>
            {% endif %}
            {% if wine.additional %}
                <h6><b>Additional (deprecated):</b> {{ wine.additional }}</h6>
            {% endif %}
            {% if wine.notes %}
                <h6><b>Notes:</b> {{ wine.notes }}</h6>
            {% endif %}
            {% if wine.why %}
                <h6><b>Why:</b> {{ wine.why }}</h6>
            {% endif %}
        </div>
        {% if grapes %}
        <div class="col s12 m6">
            <h5 class="light">Grape composition</h5>
            <table class="highlight responsive">
                <thead>
                <tr>
                    <th>Grape</th>
                    <th class="num-col">Percentage</th>
                </tr>
                </thead>
                <tbody>
                {% for grape in grapes %}
                    <tr>
                        <td>{{ grape.name }}</td>
                        <td class="num-col">{{ grape.percent|default_if_none:"" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    {% if wine_img %}
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="{{ wine_img }}" alt="Wine Image">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block prev_purchases %}
    <div class="row">
        {% if purchases %}
        <div class="col s9">
            <h4>Purchases</h4>
        </div>
        <div class="col s3" style="position: relative; height: 60px">
            {% block edit-wine %}
            <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; top: 20px;">
                <a class="btn-floating btn-large pink darken-3">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li>
                        <a class="btn-floating light-green darken-2 waves-effect waves-light" href="{% url "New Purchase Wine" wine_id=wine.id %}">
                            <i class="material-icons">add</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating yellow darken-2 waves-effect waves-light" href="{% url "Edit Wine" wine_id=wine.id %}">
                            <i class="material-icons">edit</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating pink darken-3 modal-trigger waves-effect waves-light" href="#delete-modal">
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="delete-modal" class="modal ">
                <div class="modal-content">
                    <h5>Are you sure you want to delete this wine?</h5>
                    <p>This action is not reversible.</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url "Delete Wine" wine_id=wine.id %}" class="btn modal-action pink darken-3 waves-effect waves-light" id="delete-wine-btn">Yes, delete this wine</a>
                    <a href="" class="btn modal-action modal-close light-green darken-2 waves-effect waves-light">No</a>
                </div>
            </div>
            {% endblock %}
        </div>
        </div>
        <div class="col s12">
            <table class="highlight responsive">
                <thead>
                <tr>
                    {% block table-edit-head %}{% endblock %}
                    <th>Date</th>
                    <th class="num-col">Quantity</th>
                    <th class="num-col">Price</th>
                    <th class="num-col">Vintage</th>
                    <th>Store</th>
                    <th>Memo</th>
                </tr>
                </thead>
                <tbody>
                {% for purchase in purchases %}
                    <tr>
                        {% block table-edit-body %}{% endblock %}
                        {% if purchase.date %}
                            <td>{{ purchase.date|naturalday:"b j, Y"|title }}</td>
                        {% else %}
                            <td>&ndash;</td>
                        {% endif %}
                        <td class="num-col">{{ purchase.quantity|default_if_none:"&ndash;" }}</td>
                        <td class="num-col">{{ purchase.price|floatformat:2|default_if_none:"&ndash;" }}</td>
                        <td class="num-col">{{ purchase.vintage|default_if_none:"NV" }}</td>
                        <td>{{ purchase.store }}</td>
                        <td>{{ purchase.why|default_if_none:"" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="col s12">
                <h5>No previously recorded purchases.</h5>
                <br>
            </div>
        {% endif %}
        </div>
    {% endblock %}
    {% block add_body %}
    {% endblock %}
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#delete-modal").modal();
        });
    </script>
{% endblock %}
