# Configuration file for pytest-cov

[run]
omit =
    */__init__.py
    */manage.py
    */conftest.py
    */settings.py
    */apps.py
    */admin.py
    */test*.py
    **/migrations/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only and str formatting code:
    def __repr__
    def __str__

    # Non production code
    if settings.DEBUG

ignore_errors = True
