# Editors
.idea/

# Compiled
*.pyc

# Data files
data/*.csv
data/*.db
data/ipynb_checkpoints/
.sass-cache/
**.ipynb

# Test files
tests/cov_html/
.pytest_cache/
.cache/
.coverage
tests/.svn/

# Media files
media/*.png
media/*.jpg

# Script cache files
scripts/*.cache
.vscode/.ropeproject/
.vscode/launch.json
