# Compiled
*.pyc

# Data files
data/*.csv
data/*.db
.sass-cache/
**.ipynb

# Test files
.cache/
.coverage

# Media files
media/*.png
media/*.jpg

# Script cache files
scripts/*.cache
.vscode/.ropeproject/

# Javascript
node_modules
web/static/*bundle*
web/webpack.stats.json

# Logs
vinoteca.log

# Old storage folders
data
media

# Rust
target
Rocket.toml
config.yaml.bak
**/*.rs.bk
Rocket.toml
.vscode/tags

# Build
*.tar.gz
*.deb

# Generated
web/lib/api/Rest.d.ts
web/lib/constants.ts

# Migration
**/migration_conf.json
