<div class="grape-block" id="{{ i }}">
  <a class="btn-floating waves-effect waves-light grape-btn-remove" id="grape-btn-remove-{{ i }}">
    <i class="material-icons">remove</i>
  </a>
  <div class="input-field col s3 m1" id="grape-form-{{ i }}-pct">
    <input id="grape-{{ i }}-pct" name="grape-{{ i }}-pct" type="number" class="validate" {% if percent %}value={{ percent }}{% endif %}>
    <label for="grape-{{ i }}-pct">Percentage</label>
  </div>
  <div class="input-field col s8 m3" id="grape-form-{{ i }}-name">
    <input id="auto-grape-{{ i }}" name="grape-{{ i }}" type="text" class="autocomplete" {% if name %}value="{{ name }}"{% endif %}>
    <label for="auto-grape-{{ i }}">Grape</label>
  </div>
  <a class="btn-floating waves-effect waves-light grape-btn-add" id="grape-btn-add-{{ i }}">
    <i class="material-icons">add</i>
  </a>
</div>
