{% extends 'base.html' %}
{% load vinoteca %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="bold">{{ wine_type.name }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5>Wines</h5>
        <table class="highlight responsive condensed">
          {% include "table_header.html" %}
          <tbody>
            {% for wine in wines %}
              <tr>
                {% include "date_cell.html" with date=wine.last_purchased_date %}
                {% include "color_cell.html" with color=wine.color.name %}
                <td>
                  <a href="{% url "Wines:Wine Profile" wine_id=wine.id %}">
                    {{ wine.name|defndash }}
                  </a>
                </td>
                {% include "producer_cell.html" with name=wine.producer.name id=wine.producer.id %}
                {% include "region_cell.html" with name=wine.producer.region.name id=wine.producer.region.id %}
                {% include "basic_cell.html" with name=wine.viti_area.name %}
                {% include "number_cell.html" with number=wine.total_quantity  %}
                {% include "number_cell.html" with number=wine.avg_price decpoint=True  %}
                {% include "number_cell.html" with number=wine.rating  %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
