{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3>Edit Producer</h3>
        <form action="" method="post" autocomplete="off">
          {% csrf_token %}
          <div class="row">
            {% include "producer_input.html" with producer=producer.name %}
            {% include "region_input.html" with region=region.name %}
          </div>
          {% include "special_chars.html" %}
          <div class="row">
            <div class="col s12">
              {% include "submit_btn.html" %}
              {% url "Producers:Producer Profile" producer_id=producer.id as cancel_url %}
              {% include "cancel_btn.html" with url_=cancel_url %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'edit_producer.bundle.js' %}"></script>
{% endblock %}
