<table class="responsive highlight">
    <thead>
        <tr>
            <th>Type</th>
            <th class="num-col">Purchases</th>
            <th class="num-col">Varieties</th>
            <th class="num-col">Avg Price</th>
        </tr>
    </thead>
    <tbody>
        {% for color in colors %}
        <tr>
            <td>{{ color.name|title }}</td>
            <td class="num-col">{{ color.quantity }}</td>
            <td class="num-col">{{ color.variety }}</td>
            <td class="num-col">{{ color.avg_price|floatformat:"2" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>