<table class="responsive highlight">
    <thead>
        <tr>
            <th>Region</th>
            <th class="num-col">Producers</th>
            <th class="num-col">Varieties</th>
            <th class="num-col">Avg Rating</th>
            <th class="num-col">Avg Price</th>
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
        <tr>
            <td>{{ country.name }}</td>
            <td class="num-col">{{ country.producer_count }}</td>
            <td class="num-col">{{ country.wine_count }}</td>
            {% if country.avg_rating %}
                <td class="num-col">{{ country.avg_rating|floatformat:"1" }}</td>
            {% else %}
                <td class="num-col">&ndash;</td>
            {% endif %}
            <td class="num-col">{{ country.avg_price|floatformat:"2" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>