{% extends 'base.html' %}
{% block dashboard-nav %}class="active"{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Wine Purchase Stats</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6 xl4">
            <div class="card pink darken-3">
                <div class="card-content white-text">
                    <h2 class="card-title">Purchases by Color</h2>
                    {% include "colors.html" %}
                </div>
            </div>
            <div class="card light-green lighten-1">
                <div class="card-content white-text">
                    <h2 class="card-title">Purchases by Country</h2>
                    {% include "countries.html" %}
                </div>
            </div>
        </div>
        <div class="col s12 l6 xl4">
            <div class="card yellow darken-2">
                <div class="card-content">
                    <h2 class="card-title">By the Numbers</h2>
                    {% include "by_the_numbers.html" %}
                </div>
            </div>
            <div class="card pink darken-2">
                <div class="card-content white-text">
                    <h2 class="card-title">Top Producers</h2>
                    {% include "producers.html" %}
                </div>
            </div>
        </div>
        <div class="col s12 l6 xl4">
            <div class="card light-green lighten-2">
                <div class="card-content white-text">
                    <h2 class="card-title">Purchases by Year</h2>
                    {% include "purchases_by_year.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 xl7">
            <div class="card light-green lighten-3">
                <div class="card-content">
                    <h2 class="card-title">Recent Purchases</h2>
                    {% include "recent_purchases.html" %}
                </div>
            </div>
        </div>
        <div class="col s12 xl5">
            <div class="card pink darken-4">
                <div class="card-content white-text">
                    <h2 class="card-title">Top Purchase Categories</h2>
                    {% include "top_purchase_categories.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
