<table class="responsive highlight">
    <thead>
        <tr>
            <th>Year</th>
            <th class="num-col">Bottles</th>
            <th class="num-col">Total Spent</th>
            <th class="num-col">Avg Price</th>
            <th class="num-col">Avg Vintage</th>
        </tr>
    </thead>
    <tbody>
    {% for year in years %}
        <tr>
            <td>{{ year.year }}</td>
            <td class="num-col">{{ year.quantity }}</td>
            <td class="num-col">{{ year.price|floatformat:"2" }}</td>
            <td class="num-col">{{ year.avg_price|floatformat:"2" }}</td>
            <td class="num-col">{{ year.avg_vintage|floatformat }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
