<ul class="tabs tabs-fixed-width">
    <li class="wine-red-tab tab " id="top-purchase-table-li"><a href="#top-purchase-table-tab">Table</a></li>
    <li class="wine-green-tab tab " id="top-purchases-chart-li"><a href="#top-purchases-chart-tab">Purchases</a></li>
    <li class="wine-green-tab tab " id="top-varieties-chart-li"><a href="#top-varieties-chart-tab">Varieties</a></li>
    <li class="wine-green-tab tab " id="avg-price-chart-li"><a href="#avg-price-chart-tab">Avg price</a></li>
</ul>
<div id="top-purchase-table-tab" class="s12">
    <table class="responsive highlight">
        <thead>
        <tr>
            <th>Wine Type</th>
            <th class="num-col">Purchases</th>
            <th class="num-col">Varieties</th>
            <th class="num-col">Avg Price</th>
        </tr>
        </thead>
        <tbody>
        {% for wine_type in top_wine_types %}
            <tr>
                <td><a href="{% url "Wine Type Profile" wine_type_id=wine_type.id %}">{{ wine_type.wine_type }}</a></td>
                <td class="num-col"><a href="{% url "Wine Type Profile" wine_type_id=wine_type.id %}">{{ wine_type.quantity }}</a></td>
                <td class="num-col"><a href="{% url "Wine Type Profile" wine_type_id=wine_type.id %}">{{ wine_type.variety }}</a></td>
                <td class="num-col"><a href="{% url "Wine Type Profile" wine_type_id=wine_type.id %}">{{ wine_type.avg_price|floatformat:2 }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="top-purchases-chart-tab" class="s12">
    <canvas height="350px" id="top-purchases-chart"></canvas>
</div>
<div id="top-varieties-chart-tab" class="s12">
    <canvas height="350px" id="top-varieties-chart"></canvas>
</div>
<div id="avg-price-chart-tab" class="s12">
    <canvas height="350px" id="avg-price-chart"></canvas>
</div>
