body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.brand-logo {
  font-weight: 300;
  letter-spacing: -0.1rem;
}
#logo-img {
  vertical-align: middle;
  display: inline;
  height: 1.6rem!important;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 300;
}
.by-the-numbers {
  font-size: 2.7rem;
  font-weight: 200;
}
.num-col {
  text-align: right;
}

.btn {
  margin-bottom: 10px;
}

.inline-h {
  display: inline;
}

.btn-floating-small {
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: baseline;
  top: 5px;
  i {
    line-height: 30px;
  }
}

.country-flag {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

td a {
  display: block;
  color: inherit;
  text-decoration: none;
}
#edit-wine {
  padding-top: 6rem;
}

table.highlight tbody tr:hover  {
  background-color: rgba(245, 245, 245, 0.5);
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
  display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
  text-align: center;
  cursor: pointer;
  background-color: #e6bf99;
}

.tablesorter-filter-row {
  td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

ul.bullets {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  li {
    list-style-type: initial;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

//table.sortable {
//    ul {
//        padding-left: 20px;
//    }
//    .btn {
//        font-size: .8em;
//    }
//    .material-icons {
//        vertical-align: bottom;
//    }
//}

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 1001px !default;
$large-screen-up: 1301px !default;
$small-screen: 600px !default;
$medium-screen: 1000px !default;
$large-screen: 1300px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

