{% extends 'wine_profile.html' %}
{% load static %}

{% block prev_purchases %}
  <div class="row">
    <div class="col s12">
      <h3>Edit Purchase</h3>
      <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
          {% include "purchase_inputs.html" %}
          <div class="col s12">
            {% include "submit_btn.html" %}
            {% url "Wines:Edit Wine" wine_id=wine.id as cancel_url %}
            {% include "cancel_btn.html" with url_=cancel_url %}
            {% include "delete_btn.html" with item="purchase" %}
          </div>
        </div>
        {% url "Wines:Delete Purchase" wine_id=wine.id purchase_id=purchase.id as delete_url %}
        {% include "delete_modal.html" with item="purchase" url_=delete_url %}
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    const wineId = {{ wine.id }};
  </script>
  <script src="{% static 'edit_purchase.bundle.js' %}"></script>
{% endblock %}
