{% extends 'wine_profile.html' %}
{% load static %}

{% block wine-title %}
  <h3 class="page-title">Edit wine information</h3>
  <div class="row">
    <form class="col s12" action="" method="post" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      {% with edit_wine=True  %}
        {% include "wine_inputs.html" %}
      {% endwith %}
      <div class="row">
        <div class="col s12">
          {% include "submit_btn.html" %}
          {% url "Wines:Wine Profile" wine_id=wine.id as cancel_url %}
          {% include "cancel_btn.html" with url_=cancel_url %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block edit-wine %}
  {% include "floating_action.html" with editing=True %}
{% endblock %}

{% block table-edit-head %}<th>Edit</th>{% endblock %}

{% block table-edit-body %}
  <td>
    <a class="btn-floating waves-effect waves-light yellow darken-2"
       href="{% url "Wines:Edit Purchase" wine_id=wine.id purchase_id=purchase.id %}">
      <i class="material-icons">edit</i>
    </a>
  </td>
{% endblock %}

{% block js %}
  <script type="text/javascript" >
    const wineId = {{ wine.id }};
    {% if wine.rating %}
      const hasRating = true;
    {% else %}
      const hasRating = false;
    {% endif %}
  </script>
  <script type="text/javascript" src="{% static 'edit_wine.bundle.js' %}"></script>
{% endblock %}
