{% extends 'base.html' %}
{% load static %}

{% block new-nav %}class="active"{% endblock %}

{% block body %}
  <div class="container">
    <h3 class="page-title">Enter new wine information</h3>

    <div class="row">
      {# enctype for multimedia upload #}
      <form class="col s12" action="" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        {% include "purchase_inputs.html" with include_inventory=True %}
        {% include "wine_inputs.html" %}
        <div class="row">
          <div class="input-field col s12 m6">
            <input type="text" id="auto-store" name="store" class="autocomplete">
            <label for="auto-store">Store</label>
          </div>
          <div class="input-field col s6 m4">
            <input id="purchase-date" name="purchase-date" type="text" class="datepicker">
            <label for="purchase-date">Purchase Date</label>
          </div>
          <div class="input-field col s6 m2">
            <select id="color" name="color">
              <option value="" disabled selected>Select the color</option>
              {% for color in colors %}
                <option value="{{ color.name }}">{{ color.name|title }}</option>
              {% endfor %}
            </select>
            <label for="color">Color</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input type="text" id="auto-wine-type" name="wine-type" class="autocomplete" required>
            <label for="auto-wine-type">Type</label>
          </div>
          <div class="input-field col s12 m3">
            <input type="text" id="name" name="name">
            <label for="name">Name</label>
          </div>
          <div class="input-field col s6 m3">
            <input type="text" id="auto-producer" name="producer" class="autocomplete" required>
            <label for="auto-producer">Producer</label>
          </div>
          <div class="input-field col s6 m3">
            <input type="text" id="auto-region" name="region" class="autocomplete" required>
            <label for="auto-region">Region</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="description" name="description" type="text" class="validate">
            <label for="description">Description</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="auto-viti-area" name="viti-area" type="text" class="autocomplete">
            <label for="auto-viti-area">Viticultural Area</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="notes" name="notes" type="text" class="validate">
            <label for="notes">Notes</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="why" name="why" type="text" class="validate">
            <label for="why">Why</label>
          </div>
        </div>
        <div class="row">
          <div class="col s3 m1">
            <div class="switch">
              <label for="add-to-inventory">
                Add to Inventory
                <input type="checkbox" id="add-to-inventory" name="add-to-inventory" checked="checked">
                <span class="lever"></span>
              </label>
            </div>
          </div>
          <div class="input-field col s3 m2">
            <input id="quantity" name="quantity" type="number" class="validate" value=1 min="0">
            <label for="quantity">Quantity</label>
          </div>
          <div class="input-field col s6 m3">
            <input id="memo" name="memo" type="text" class="validate">
            <label for="memo">Memo</label>
          </div>
          <div class="range-field col s4 m2">
            <div class="switch">
              <label for="has-rating">
                Rating
                <input type="checkbox" id="has-rating" name="has-rating">
                <span class="lever"></span>
              </label>
            </div>
            <label for="rating"></label>
            <p class="range-field">
              <input type="range" id="rating" name="rating" min="0" max="10" step="1" disabled>
            </p>
          </div>
          <div class="input-field col s4 m2">
            <input id="price" name="price" type="number" class="validate" step="0.01" min="0">
            <label for="price">Price</label>
          </div>
          <div class="input-field col s4 m2">
            <input id="vintage" name="vintage" type="number" class="validate" value="{{ default_vintage }}">
            <label for="vintage">Vintage</label>
          </div>
        </div>
        {# Grapes #}
        <div class="row">
          <div class="col s12">
            <h6>Grape Composition (optional)</h6>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4 m2">
            <input id="grape-1-pct" name="grape-1-pct" type="number" class="validate" value=100>
            <label for="grape-1-pct">Percentage</label>
          </div>
          <div class="input-field col s8 m4">
            <input id="auto-grape-1" name="grape-1" type="text" class="autocomplete">
            <label for="auto-grape-1">Grape</label>
          </div>
          <div class="col s12 m6">
            <a class="btn-floating waves-effect waves-light light-green lighten-2 grape-btn" id="grape-btn-2">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="input-field col s4 m2" hidden id="grape-form-2-pct">
            <input id="grape-2-pct" name="grape-2-pct" type="number" class="validate" value=50>
            <label for="grape-2-pct">Percentage</label>
          </div>
          <div class="input-field col s8 m4" hidden id="grape-form-2-name">
            <input id="auto-grape-2" name="grape-2" type="text" class="autocomplete">
            <label for="auto-grape-2">Grape</label>
          </div>
        </div>
        <div class="row" hidden>
          <div class="col s12 m6" hidden>
            <a class="btn-floating waves-effect waves-light light-green lighten-2 grape-btn" id="grape-btn-3">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="input-field col s4 m2" hidden id="grape-form-3-pct">
            <input id="grape-3-pct" name="grape-3-pct" type="number" class="validate" value=33>
            <label for="grape-3-pct">Percentage</label>
          </div>
          <div class="input-field col s8 m4" hidden id="grape-form-3-name">
            <input id="auto-grape-3" name="grape-3" type="text" class="autocomplete">
            <label for="auto-grape-3">Grape</label>
          </div>
          <div class="col s12 m6" hidden>
            <a class="btn-floating waves-effect waves-light light-green lighten-2 grape-btn" id="grape-btn-4">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="input-field col s4 m2" hidden id="grape-form-4-pct">
            <input id="grape-4-pct" name="grape-4-pct" type="number" class="validate" value=25>
            <label for="grape-4-pct">Percentage</label>
          </div>
          <div class="input-field col s8 m4" hidden id="grape-form-4-name">
            <input id="auto-grape-4" name="grape-4" type="text" class="autocomplete">
            <label for="auto-grape-4">Grape</label>
          </div>
        </div>
        <div class="row" hidden>
          <div class="col s12 m6" hidden>
            <a class="btn-floating waves-effect waves-light light-green lighten-2 grape-btn" id="grape-btn-5">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="input-field col s4 m2" hidden id="grape-form-5-pct">
            <input id="grape-5-pct" name="grape-5-pct" type="number" class="validate" value=20>
            <label for="grape-5-pct">Percentage</label>
          </div>
          <div class="input-field col s8 m4" hidden id="grape-form-5-name">
            <input id="auto-grape-5" name="grape-5" type="text" class="autocomplete">
            <label for="auto-grape-5">Grape</label>
          </div>
        </div>

        {% include "special_chars.html" %}

        <div class="row">
          <div class="col s1"></div>
          <div class="file-field input-field col s10">
            <div class="btn yellow darken-2">
              <span>Wine Image</span>
              <input type="file" name="wine-image">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <div class="col s1"></div>
        </div>

        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light light-green lighten-2" type="submit" name="action">
              Submit<i class="material-icons right">send</i>
            </button>
            <a class="waves-effect waves-light btn pink darken-3" href={% url "Home" %}>cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'new_wine.bundle.js' %}"></script>
{% endblock %}
