{% extends 'base.html' %}
{% load static %}

{% block body %}
  {% comment %} <div id="new-wine-app-container"></div> {% endcomment %}
  <div class="container">
    <h3 class="page-title">Enter new wine information</h3>

    <form class="col s12" action="" method="post" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      {% with continue_row=True  %}
        {% include "purchase_inputs.html" with include_inventory=True %}
        {% include "wine_inputs.html" %}
      {% endwith %}
      <div class="row">
        <div class="col s12">
          {% include "submit_btn.html" %}
          {% url "Home" as cancel_url %}
          {% include "cancel_btn.html" with url_=cancel_url %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'new_wine.bundle.js' %}"></script>
{% endblock %}
