{% extends 'wine_profile.html' %}
{% load static %}

{% block add_body %}
  <div class="row">
    <div class="col s12">
      <h4>New Purchase</h4>
      <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div id="new-purchase-container"></div>
        {% comment %} {% include "purchase_inputs.html" with include_inventory=True %} {% endcomment %}
        <div class="row">
          <div class="col s12">
            {% include "submit_btn.html" %}
            {% url "Wines:Wine Profile" wine_id=wine.id as cancel_url %}
            {% include "cancel_btn.html" with url_=cancel_url %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src={% static 'new_purchase.bundle.js' %}></script>
{% endblock %}
