<h5 class="light">Grape composition</h5>
<ul class="tabs tabs-fixed-width z-depth-1">
  <li class="wine-red-tab tab col s6" id="grape-comp-table-li">
    <a href="#grape-comp-table-tab">Table</a>
  </li>
  <li class="wine-green-tab tab col s6" id="grape-comp-chart-li">
    <a href="#grape-comp-chart-tab">Pie chart</a>
  </li>
</ul>
<div id="grape-comp-table-tab" class="s12">
  <table class="highlight responsive">
    <thead>
      <tr>
        <th>Grape</th>
        <th class="num-col">Percentage</th>
      </tr>
    </thead>
    <tbody>
      {% for grape in grapes %}
        <tr>
          <td>{{ grape.grape.name }}</td>
          <td class="num-col">{{ grape.percent|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="grape-comp-chart-tab" class="s12">
  <canvas id="grape-comp-chart"></canvas>
</div>
