{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    {% block wine-title %}
      <div class="row">
        <div class="col s12">
          <h3 class="bold">{{ wine.name|default_if_none:"" }}
            {% if wine.wine_type %}
              <a href="{% url "Wine Type Profile" wine_type_id=wine.wine_type.id %}">
                {{ wine.wine_type.name|title }}
              </a>
            {% else %}
              {{ wine.wine_type.name|title }}
            {% endif %}</h3>
          <h4>
            {% if wine.producer %}
              <a class="text-link" href="{% url "Producers:Producer Profile" producer_id=wine.producer.id %}">
                {{ wine.producer.name }}
              </a>
            {% endif %}
            {% if wine.producer.region and wine.producer %}
              of
            {% endif %}
            {% if wine.producer.region %}
              <a class="text-link" href="{% url "Region Profile" region_id=wine.producer.region.id %}">
                {{ wine.producer.region.name }}
              </a>
            {% else %}
              This producer currently does not have a region, please add one.
            {% endif %}
          </h4>
        </div>
        <div class="col s12 l6">
          <h5 class="light">{{ wine.color.name|title }}</h5>
          <h5 class="inline-h"><b>Inventory: </b> {{ wine.inventory }}</h5> &thinsp;
          <a class="waves-effect waves-light btn-floating btn-floating-small green-bg"
            href="{% url "Wines:Change Inventory" wine_id=wine.id sign="add" %}">
            <i class="material-icons">add_circle</i>
          </a>
          {% if wine.inventory > 0 %}
            <a class="waves-effect waves-light btn-floating btn-floating-small red-bg"
              href="{% url "Wines:Change Inventory" wine_id=wine.id sign="subtract" %}">
              <i class="material-icons">do_not_disturb_on</i>
            </a>
          {% endif %}
          {% if recent_vintage %}
            <h5><b>Vintage:</b> {{ recent_vintage }}</h5>
          {% endif %}
          {% if wine.viti_area %}
            <h5><b>Viticultural Area:</b> {{ wine.viti_area.name }}</h5>
          {% endif %}
          {% if wine.description %}
            <h6><b>Description:</b> {{ wine.description }}</h6>
          {% endif %}
          {% if wine.rating %}
            <h6><b>Rating:</b> {{ wine.rating|floatformat:0 }}</h6>
          {% endif %}
          {% if wine.notes %}
            <h6><b>Notes:</b> {{ wine.notes }}</h6>
          {% endif %}
          {% if wine.why %}
            <h6><b>Why:</b> {{ wine.why }}</h6>
          {% endif %}
        </div>
        <div class="col s12 l6">
          {% if grapes %}
            <h5 class="light">Grape composition</h5>
            <ul class="tabs tabs-fixed-width z-depth-1">
              <li class="wine-red-tab tab col s6" id="grape-comp-table-li">
                <a href="#grape-comp-table-tab">Table</a>
              </li>
              <li class="wine-green-tab tab col s6" id="grape-comp-chart-li">
                <a href="#grape-comp-chart-tab">Pie chart</a>
              </li>
            </ul>
            <div id="grape-comp-table-tab" class="s12">
              <table class="highlight responsive">
                <thead>
                  <tr>
                    <th>Grape</th>
                    <th class="num-col">Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  {% for grape in grapes %}
                    <tr>
                      <td>{{ grape.grape.name }}</td>
                      <td class="num-col">{{ grape.percent|default_if_none:"" }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div id="grape-comp-chart-tab" class="s12">
              <canvas id="grape-comp-chart"></canvas>
            </div>
          {% elif has_img %}
            {% include "wine_image.html" %}
          {% endif %}
        </div>
      </div>
      {% if has_img and grapes %}
        <div class="row">
          <div class="col s12 l6 offset-l3">
          {% include "wine_image.html" %}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block prev_purchases %}
      <div class="row">
        <div class="col s9">
          {% if purchases %}
            <h4>Purchases</h4>
          {% else %}
            <h5>No previously recorded purchases.</h5>
          {% endif  %}
        </div>
        <div class="col s3 fixed-action-div">

          {% block edit-wine %}
            {% include "floating_action.html" %}
          {% endblock %}

        </div>
      </div>
      {% if purchases %}
        <div class="row">
          <div class="col s12">
            <table class="highlight responsive">
              <thead>
              <tr>
                {% block table-edit-head %}{% endblock %}
                <th>Date</th>
                <th class="num-col">Quantity</th>
                <th class="num-col">Price</th>
                <th class="num-col">Vintage</th>
                <th>Store</th>
                <th>Memo</th>
              </tr>
              </thead>
              <tbody>
                {% for purchase in purchases %}
                  <tr>

                    {% block table-edit-body %}{% endblock %}

                    {% include "date_cell.html" with date=purchase.date %}
                    {% include "number_cell.html" with number=purchase.quantity %}
                    {% include "number_cell.html" with number=purchase.price decpoint=2 %}
                    {% include "vintage_cell.html" with vintage=purchase.vintage %}
                    {% include "basic_cell.html" with name=purchase.store.name %}
                    {% include "basic_cell.html" with name=purchase.memo %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
  {% endblock %}
  {% block add_body %}
  {% endblock %}
  </div>


  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    const wineId = {{ wine.id }};
  </script>
  <script src="{% static 'wine_profile.bundle.js' %}"></script>
{% endblock %}
