{% extends 'base.html' %}
{% load static %}

{% block view-nav %}class="active"{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="page-title">Wines</h3>
        {% if not wines %}
          <h6 class="bold center-align">
            Your inventory is current empty.
          </h6>
          {% include "add_wine_btn.html" %}
        {% else %}
        <button class="btn reset yellow darken-2">Reset Filters</button>
        <table class="highlight responsive sortable tablesorter condensed">
          {% include "table_header.html" with columns=columns %}
          <tfoot>
            <tr class="tablesorter-ignoreRow">
              <th colspan="9" class="ts-pager form-horizontal center">
                <button type="button" class="btn first">
                  <i class="small material-icons">first_page</i>
                </button>
                <button type="button" class="btn prev">
                  <i class="small material-icons">navigate_before</i>
                </button>
                <span class="pagedisplay"></span>
                <button type="button" class="btn next">
                  <i class="small material-icons">navigate_next</i>
                </button>
                <button type="button" class="btn last">
                  <i class="small material-icons">last_page</i>
                </button>

                <select class="pagesize col s" title="Select page size" id="pagesize-sel">
                  <option value="25">25</option>
                  <option value="50" selected>50</option>
                  <option value="100">100</option>
                </select>
              </th>
            </tr>
          </tfoot>
          <tbody>
            {% for wine in wines %}
              <tr>
                <td>{{ wine.color|default_if_none:""|title }}</td>
                <td class="num-col">{{ wine.inventory }}</td>
                <td>
                  <a href="{% url "Wines:Wine Profile" wine_id=wine.id %}">
                    {{ wine.name|default_if_none:"" }} {{ wine.type }}
                  </a>
                </td>
                <td>
                  {% if wine.producer_id %}
                    <a href="{% url "Producers:Producer Profile" producer_id=wine.producer_id %}">
                      {{ wine.producer }}
                    </a>
                  {% else %}
                    {{ wine.producer }}
                  {% endif %}
                </td>
                <td>
                  {% if wine.region_id %}
                    <a href="{% url "Region Profile" region_id=wine.region_id %}">
                      {{ wine.region }}
                    </a>
                  {% else %}
                    {{ wine.region }}
                  {% endif %}
                </td>
                <td>{{ wine.viti_area|default_if_none:"" }}</td>
                <td class="num-col">
                    {{ wine.vintage|default_if_none:"NV" }}
                </td>
                <td>
                    {{ wine.description|default_if_none:"" }}
                </td>
                <td class="num-col">
                    {{ wine.rating|default_if_none:"" }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% if wines %}
  {% block js %}
    <script src="{% static 'wines.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'wines.bundle.css' %}">
  {% endblock %}
{% endif %}
