{% if not continue_row %}
  <div class="row">
{% endif %}
  {% include "color_input.html" with wine_color=wine.color.name %}
  {% include "wine_type_input.html" with wine_type=wine.wine_type.name %}
  {% include "producer_input.html" with producer=wine.producer.name %}
  {% include "region_input.html" with region=wine.producer.region.name %}
  <div class="input-field col s6 m3">
    <input id="name" name="name" type="text" class="validate" {% if wine.name %}value="{{ wine.name }}"{% endif %}>
    <label for="name">Name</label>
  </div>
  <div class="input-field col s6 m3">
    <input id="why" name="why" type="text" class="validate" {% if wine.why %}value="{{ wine.why }}"{% endif %}>
    <label for="why">Why</label>
  </div>
  <div class="range-field col s4 m2">
    <div class="switch">
      <label for="has-rating">
        Rating
        <input type="checkbox" id="has-rating" name="has-rating">
        <span class="lever"></span>
      </label>
    </div>
    <label for="rating"></label>
    <p class="range-field" id="rating-slider">
      <input type="range" id="rating" name="rating" min="0" max="10" step="1" {% if wine.rating %}value="{{ wine.rating }}" {% else %} disabled {% endif %}>
    </p>
  </div>
  {% include "viti_area_input.html" with viti_area=wine.viti_area.name %}
  <div class="input-field col s12 m6">
    <input id="description" name="description" type="text" class="validate" {% if wine.description %}value="{{ wine.description }}"{% endif %}>
    <label for="description">Description</label>
  </div>
  <div class="input-field col s12 m6">
    <input id="notes" name="notes" type="text" class="validate" {% if wine.notes %}value="{{ wine.notes }}"{% endif %}>
    <label for="notes">Notes</label>
  </div>
</div>
{% include "grape_inputs.html" %}
{% include "special_chars.html" %}
<div class="row">
  <div class="col s1"></div>
  <div class="file-field input-field col s10">
    <div class="btn yellow darken-2">
      <span>Wine Image</span>
      <input type="file" name="wine-image">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <div class="col s1"></div>
</div>
