<h5 class="light">{{ wine.color.name|title }}</h5>
<h5 class="inline-h"><b>Inventory: </b> {{ wine.inventory }}</h5> &thinsp;
<a class="waves-effect waves-light btn-floating btn-floating-small green-bg"
  href="{% url "Wines:Change Inventory" wine_id=wine.id sign="add" %}">
  <i class="material-icons">add_circle</i>
</a>
{% if wine.inventory > 0 %}
  <a class="waves-effect waves-light btn-floating btn-floating-small red-bg"
    href="{% url "Wines:Change Inventory" wine_id=wine.id sign="subtract" %}">
    <i class="material-icons">do_not_disturb_on</i>
  </a>
{% endif %}
{% if recent_vintage %}
  <h5><b>Vintage:</b> {{ recent_vintage }}</h5>
{% endif %}
{% if wine.viti_area %}
  <h5><b>Viticultural Area:</b>
    <a class="text-link" href='{% url "Viti Area Profile" viti_area_id=wine.viti_area.id %}'>
      {{ wine.viti_area.name }}
    </a>
  </h5>
{% endif %}
{% if wine.description %}
  <h6><b>Description:</b> {{ wine.description }}</h6>
{% endif %}
{% if wine.rating %}
  <h6><b>Rating:</b> {{ wine.rating|floatformat:0 }}</h6>
{% endif %}
{% if wine.notes %}
  <h6><b>Notes:</b> {{ wine.notes }}</h6>
{% endif %}
{% if wine.why %}
  <h6><b>Why:</b> {{ wine.why }}</h6>
{% endif %}
