{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    {% block wine-title %}
      <div class="row">
        <div class="col s12">
          <h3 class="bold">{{ wine.name|default_if_none:"" }}
            {% if wine.wine_type %}
              <a href="{% url "Wine Type Profile" wine_type_id=wine.wine_type.id %}">
                {{ wine.wine_type.name|title }}
              </a>
            {% else %}
              {{ wine.wine_type.name|title }}
            {% endif %}</h3>
          <h4>
            {% if wine.producer %}
              <a class="text-link" href="{% url "Producers:Producer Profile" producer_id=wine.producer.id %}">
                {{ wine.producer.name }}
              </a>
            {% endif %}
            {% if wine.producer.region and wine.producer %}
              of
            {% endif %}
            {% if wine.producer.region %}
              <a class="text-link" href="{% url "Region Profile" region_id=wine.producer.region.id %}">
                {{ wine.producer.region.name }}
              </a>
            {% else %}
              This producer currently does not have a region, please add one.
            {% endif %}
          </h4>
        </div>
        {% if has_img and grapes %}
          <div class="col s12 l4">
            {% include "wine_data.html" %}
          </div>
          <div class="col s12 l4">
            {% include "wine_grapes.html" %}
          </div>
          <div class="col s12 l4">
            {% include "wine_image.html" %}
          </div>
        {% elif has_img %}
          <div class="col s12 l6">
            {% include "wine_data.html" %}
          </div>
          <div class="col s12 l6">
            {% include "wine_image.html" %}
          </div>
        {% elif grapes %}
          <div class="col s12 l6">
            {% include "wine_data.html" %}
          </div>
          <div class="col s12 l6">
            {% include "wine_grapes.html" %}
          </div>
        {% else %}
          <div class="col s12">
            {% include "wine_data.html" %}
          </div>
        {% endif %}
      </div>
    {% endblock %}

    {% block prev_purchases %}
      <div class="row">
        <div class="col s9">
          {% if purchases %}
            <h4>Purchases</h4>
          {% else %}
            <h5>No previously recorded purchases.</h5>
          {% endif  %}
        </div>
        <div class="col s3 fixed-action-div">

          {% block edit-wine %}
            {% include "floating_action.html" %}
          {% endblock %}

        </div>
      </div>
      {% if purchases %}
        <div class="row">
          <div class="col s12">
            <table class="highlight responsive">
              <thead>
              <tr>
                {% block table-edit-head %}{% endblock %}
                <th>Date</th>
                <th class="num-col">Quantity</th>
                <th class="num-col">Price</th>
                <th class="num-col">Vintage</th>
                <th>Store</th>
                <th>Memo</th>
              </tr>
              </thead>
              <tbody>
                {% for purchase in purchases %}
                  <tr>

                    {% block table-edit-body %}{% endblock %}

                    {% include "date_cell.html" with date=purchase.date %}
                    {% include "number_cell.html" with number=purchase.quantity %}
                    {% include "number_cell.html" with number=purchase.price decpoint=2 %}
                    {% include "vintage_cell.html" with vintage=purchase.vintage %}
                    {% include "basic_cell.html" with name=purchase.store.name %}
                    {% include "basic_cell.html" with name=purchase.memo %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
  {% endblock %}
  {% block add_body %}
  {% endblock %}
  </div>


  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    const wineId = {{ wine.id }};
  </script>
  <script src="{% static 'wine_profile.bundle.js' %}"></script>
{% endblock %}
