{% extends 'base.html' %}
{% load humanize %}
{% load vinoteca %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col s10 m11">
      <h3 class="bold">
        {% if flag_exists %}
          <img src="/static/img/flags/{{ region.name }}.svg" alt="Region flag" class="circle z-depth-2 img-responsive region-flag">
        {% endif %}
        {{ region.name }}
      </h3>
    </div>
  </div>
  {% if viti_areas %}
    <div class="row">
      <div class="col s12 m8">
        <h5>Viticultural Areas</h5>
        <table class="highlight responsive condensed">
          {% include "table_header.html" with columns=viti_columns %}
          <tbody>
            {% for viti_area in viti_areas %}
              <tr>
                {% include "basic_cell.html" with name=viti_area.name %}
                {% include "number_cell.html" with number=viti_area.total_quantity %}
                {% include "number_cell.html" with number=viti_area.avg_price decpoint=True %}
                {% include "number_cell.html" with number=viti_area.avg_rating decpoint=True %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col s12">
      <h5>Wines</h5>
      <table class="highlight responsive condensed">
        {% include "table_header.html" %}
        <tbody>
          {% for wine in wines %}
            <tr>
              {% include "date_cell.html" with date=wine.last_purchased_date %}
              {% include "color_cell.html" with color=wine.color.name %}
              {% include "name_and_type_cell.html" with name=wine.name wine_type=wine.wine_type.name id=wine.id %}
              {% include "producer_cell.html" with name=wine.producer.name id=wine.producer.id %}
              {% include "basic_cell.html" with name=wine.viti_area.name %}
              {% include "number_cell.html" with number=wine.total_quantity %}
              {% include "number_cell.html" with number=wine.avg_price decpoint=True %}
              {% include "number_cell.html" with number=wine.rating %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
