<li id="new-wine-nav">
  <ul id="{{ id }}" class="dropdown-content">
    <li>
      <a href="/wines/new">New Wine</a>
    </li>
    <li>
      <a href="/wines/search">Purchased Again</a>
    </li>
  </ul>
  <a href="#!" class="dropdown-trigger" data-target="{{ id }}">
    <i class="material-icons left">add_circle</i>
    Add
    <i class="material-icons right">arrow_drop_down</i>
  </a>
</li>
<li id="wines-nav">
  <a href="/wines">
    <i class="material-icons left"> reorder</i>
    Wines
  </a>
</li>
<li id="dashboards-nav">
  <a href="/dashboards">
    <i class="material-icons left">dashboard</i>
    Dashboards
  </a>
</li>
<li id="inventory-nav">
  <a href="/wines/inventory">
    <i class="material-icons left">view_comfy</i>
    Inventory
  </a>
</li>
