{% extends 'base.html' %}
{% block about-nav %}class="active"{% endblock %}
{% block body %}
    <div class="container">
        <h3 class="bold"><span class="brand-logo">vinoteca</span> is a wine purchase tracker and review system</h3>
        <h4>Adding wines</h4>
        <p>To add a new purchase click the new purchase button in the top navigation bar.
        If this wine is already in the system, select "Previously Purchased" and find the wine using the
        search utility.
        If this is the first time you've purchased this wine, select "First-time Purchase" and enter the relevant information.</p>
        <h4>Viewing wines</h4>
        <p>Go to "View Wines" to sort, filter and view wine information.</p>
        <h4>Editing wines</h4>
        <p>In order to edit a wine's information, click on any wine to go its profile page.
        Then hover over the menu button on the left side and click the pencil icon.
        Make your changes and then click "Confirm Edits"
        To edit purchase details, simply click the pencil icon next to the purchase you would like to edit in the
        wine's "Previous Purchases" table.</p>
        <h4>Bugs and suggestions</h4>
        <p>Send me an <a href="mailto:cartergr@usc.edu?subject=vinoteca">email</a>
        with any problems or bugs you encounter and any suggestions you have for improvements.</p>
    </div>
{% endblock %}
