{% extends 'base.html' %}
{% block body %}
    <div class="container">

        <h4>About</h4>
        <p>Vinoteca grew out of an Excel spreadsheet used to track wine purchases.

        Features:</p>
        <ul class="bullets">
            <li>Wine ratings and pictures</li>
            <li>Dashboard and wine purchase statistics</li>
        </ul>

        <h5>Built with</h5>
        <ul class="bullets">
            <li><a class="text-link" href="https://www.djangoproject.com/">Django</a></li>
            <li><a class="text-link" href="http://materializecss.com/">Materialize CSS</a></li>
            <li><a class="text-link" href="https://www.sqlite.org/index.html">SQLite</a></li>
            <li><a class="text-link" href="https://github.com/stevenrskelton/flag-icon">Flags by Steven Skelton</a></li>
            <li><a class="text-link" href="https://github.com/Mottie/tablesorter">Tablesorter (unofficial fork)</a></li>
            <li><a class="text-link" href="https://www.reddit.com/r/travel/comments/6z7cu0/loved_visiting_burgundy_right_before_harvest/">Cover photo from /u/CollideStorm</a></li>
        </ul>

        <br>

        <h4><a class="page-link" name="help">Help</a></h4>
        <h5>Adding wines</h5>
        <p>To add a new purchase click the new purchase button in the top navigation bar.
            If this wine is already in the system, select &ldquo;Previously Purchased&rdquo; and find the wine using the
            search utility.
            If this is the first time you&rsquo;ve purchased this wine, select &ldquo;First-time Purchase&rdquo; and enter the relevant information.</p>

        <h5>Viewing wines</h5>
        <p>Go to &ldquo;Wines&rdquo; to sort, filter and view wine information.</p>

        <h5>Editing wines</h5>
        <p>In order to edit a wine&rsquo;s information, click on any wine to go its profile page.
            Then hover over the menu button on the left side and click the pencil icon.
            Make your changes and then click &ldquo;Confirm Edits.&rdquo;
            To edit purchase details, simply click the pencil icon next to the purchase you would like to edit in the
            wine&rsquo;s &ldquo;Purchases&rdquo; table.</p>

        <h5>Bugs and suggestions</h5>
        <p>Send me an <a class="text-link" href="mailto:cartergr@usc.edu?subject=vinoteca">email</a>
            with any problems or bugs you encounter and any suggestions you have for improvements.</p>

        <br>

        <h4><a class="page-link" name="changelog">Changelog</a></h4>

        <h5>3.0.0</h5>
        <ul class="bullets">
            <li>Calculate remaining grape percentage when adding a wine&rsquo;s grape composition</li>
            <li>Extensive internal refactoring of database and data model names (not backwards compatible)</li>
        </ul>

        <h5>2.2.0</h5>
        <ul class="bullets">
            <li>Add grape composition charts</li>
            <li>Add dashboard charts</li>
            <li>Add missing characters with caron (ˇ) to special characters buttons list</li>
            <li>Improve error messages and error handling in scripts</li>
            <li>Bug fixes:<ul class="bullets">
                <li>Fix &ldquo;Add to Inventory&rdquo; button bug</li>
                <li>Partially fix Bordeaux viticultural area duplication problem</li>
                <li>Fix bug where there was no option to add to inventory for a new purchase of an existing wine</li>
                <li>Fix bug where &ldquo;None&rdquo; would sometimes appear in wine names</li>
                <li>Fix bug with viticultural area duplication and removed existing duplicates</li>
                <li>Fix bug with viticultural areas with no valid region</li>
                <li>Fix bug where negative wine prices were possible</li>
                <li>Fix bug where impossible to edit or add purchases to a wine with no previous purchases</li>
            </ul></li>
        </ul>

        <h5>2.1.0</h5>
        <ul class="bullets">
            <li>Fix image rotation bug</li>
            <li>Fix bug where there was no option to edit wines that had no purchases</li>
            <li>Finish deprecating Additional; remaining information has been moved to description</li>
            <li>Add a Wine Type Profile</li>
            <li>Remove a duplicate Viticultural Area</li>
            <li>Migrate to Typescript</li>
        </ul>

        <h5>2.0.2</h5>
        <ul class="bullets">
            <li>Stop Chrome autocomplete from competing with site autocomplete for forms</li>
            <li>Update &ldquo;New/Previously Purchased&rdquo; search</li>
            <li>Add link to Help page in footer</li>
            <li>Increase use of horizontal space</li>
            <li>Fix bug where lack of rating in New Wine form caused error</li>
            <li>Fix typo where wine color was still referred to as &ldquo;Type&rdquo;</li>
        </ul>

        <h5>2.0.1</h5>
        <ul class="bullets">
            <li>Fix editing of wine&rsquo;s additional field, but removed ability to add it after it is gone</li>
            <li>Remove deprecated JavaScript syntax</li>
        </ul>

        <h5>2.0.0</h5>
        <ul class="bullets">
            <li>Add name column to wines for further differentiation</li>
            <li>Add buttons for inserting special characters on relevant pages</li>
            <li>Fix issue where editing a wine&rsquo;s viticultural area failed</li>
            <li>Fix bug where wine images wouldn&rsquo;t display</li>
            <li>Fix bug with wines/producers without a region</li>
            <li>Formatting and appearance changes:<ul class="bullets">
                <li>Add year to purchase date in inventory table</li>
                <li>Fix where inventory minus button would never appear in wine profiles</li>
                <li>Fix bug where edit producer cancel button didn&rsquo;t work</li>
                <li>Fix reset button color in wines table</li>
                <li>Fix recent purchases dashboard float formatting</li>
                <li>Standardize dashboard naming</li>
                <li>Reduce spacing in inventory and country profile tables</li></ul></li>
            <li>Database now managed by Django for easier future schema changes</li>
            <li>Add Changelog link</li>
        </ul>

        <h5>1.3.0</h5>
        <ul class="bullets">
            <li>vinoteca now remembers previous filters in the wine table</li>
            <li>Fix bug preventing adding grape composition data to extant wines</li>
            <li>Fix bug where viticultural area in wine profiles always appeared as first viticultural area created for a producer's region</li>
            <li>Fix bug where the store was not displayed in recent purchases in wine profiles</li>
        </ul>

        <h5>1.2.2</h5>
        <p>Further reduce whitespace in wine table and increase default number of display wines.</p>

        <h5>1.2.1</h5>
        <ul class="bullets">
            <li>Change adding vinoteca alias to option in update script</li>
            <li>Fix bug where update.sh wouldn't pull changes from GitHub</li>
        </ul>

        <h5>1.2.0</h5>
        <ul class="bullets">
            <li>Reformat wine profile pages<ul class="bullets">
                <li>Add wine memo option</li>
                <li>Retitle &ldquo;Purchases&rdquo; to &ldquo;Purchases&rdquo;</li>
                <li>Add vintage of most recent purchase</li>
            </ul></li>
            <li>Reformat wine table <ul class="bullets">
                <li>Add inventory, vintage and viticultural area columns</li>
                <li>Remove notes column</li>
                <li>Reduce line spacing</li>
            </ul></li>
            <li>Fix editing of grape composition for already existing wines</li>
            <li>Fix bug where there was no way to access editing a producer</li>
            <li>Recolor many links</li>
            <li>Update schema file</li>
            <li>Date format standardization</li>
        </ul>

        <h5>1.1.0</h5>
        <ul class="bullets">
            <li>Add ability to delete wines and purchases</li>
            <li>Add ability to edit producers</li>
            <li>Default vintage year is now two years before the current year</li>
            <li>Add tests for image upload, and purchase and wine editing</li>
            <li>Order purchases by reverse chronological order</li>
            <li>Improve CLI</li>
            <li>Fix bug where adding non-vintage wines would cause an exception</li>
            <li>Fix bug where grapes with no composition percentage would cause an exception</li>
            <li>Remove Django debug toolbar dependency</li>
        </ul>

        <h5>1.0.2</h5>
        <ul class="bullets">
            <li>Update dependencies</li>
        </ul>

        <h5>1.0.1</h5>
        <ul class="bullets">
            <li>Replace notes with grape composition in wines table</li>
            <li>Scripts now stop if any step fails</li>
            <li>Add more testing</li>
        </ul>

        <h5>1.0.0</h5>
        <p>Several major additions and changes were made to the point where it felt usable enough to be the initial
            full version.</p>
        <ul class="bullets">
            <li>Add Viticultural Area field</li>
            <li>Add Grape composition table field (many-to-many relationship)</li>
            <li>Inventory<ul class="bullets">
                <li>Add the inventory field to each wine</li>
                <li>Add view where the wine inventory can be viewed and easily edited</li>
            </ul></li>
            <li>Country profile improvements<ul class="bullets">
                <li>Add flags to profile</li>
                <li>Add viticultural areas table</li>
            </ul></li>
            <li>Improve sorting and filtering with JQuery tablesorter plug-in, removing the need for separate
                sorting and filtering views</li>
            <li>Add vector flags for U.S. states</li>
            <li>Add the ability to upload images for each wine</li>
            <li>Wine Color renamed to Type and Wine Type renamed to Name</li>
            <li>Deprecate Additional, as its purpose was no longer needed with dedicated fields for grape
                composition and viticultural area</li>
            <li>Store address field was removed as it was found to be unneeded</li>
            <li>Improve test coverage</li>
            <li>Add migrate line to the update script</li>
        </ul>

        <h5>0.3.0</h5>
        <ul class="bullets">
            <li>Add country/region profile</li>
            <li>Add wine producer profile</li>
            <li>Fix issue with automatic browser opening on Windows</li>
            <li>Upgrade to Django 2.0</li>
        </ul>

        <h5>0.2.1</h5>
        <p>Minor improvements to the scripts including automatically opening the browser when running run.sh</p>

        <h5>0.2.0</h5>
        <ul class="bullets">
            <li>Fix unit conversions</li>
            <li>Standardize button colors</li>
            <li>Update About page</li>
            <li>Add logo to navbar</li>
            <li>Better table highlighting</li>
        </ul>
    </div>
{% endblock %}
