{% extends 'base.html' %}
{% block about-nav %}class="active"{% endblock %}
{% block body %}
    <div class="container">
        <h3 class="bold"><span class="brand-logo">vinoteca</span> is a wine purchase tracker and review system</h3>
        <h4>Adding wines</h4>
        <p>To add a new purchase click the new purchase button in the top navigation bar.
        If this wine is already in the system, select "Previously Purchased" and find the wine using the
        search utility.
        If this is the first time you've purchased this wine, select "First-time Purchase" and enter the relevant information.</p>
        <h4>Viewing wines</h4>
        <p>Go to "View Wines" to sort, filter and view wine information.</p>
        <h4>Editing wines</h4>
        <p>In order to edit a wine's information, click on any wine to go its profile page.
        Then hover over the menu button on the left side and click the pencil icon.
        Make your changes and then click "Confirm Edits"
        To edit purchase details, simply click the pencil icon next to the purchase you would like to edit in the
        wine's "Previous Purchases" table.</p>
        <h4>Bugs and suggestions</h4>
        <p>Send me an <a href="mailto:cartergr@usc.edu?subject=vinoteca">email</a>
        with any problems or bugs you encounter and any suggestions you have for improvements.</p>

        <h4>Built with</h4>
        <ul class="bullets">
            <li>Django</li>
            <li>Materialize CSS</li>
            <li>SQLite</li>
            <li><a href="https://github.com/stevenrskelton/flag-icon">Flags by Steven Skelton</a></li>
            <li><a href="https://github.com/Mottie/tablesorter">Tablesorter (unofficial fork)</a></li>
            <li><a href="https://www.reddit.com/r/travel/comments/6z7cu0/loved_visiting_burgundy_right_before_harvest/">Cover photo from /u/CollideStorm</a></li>
        </ul>

        <h3>Changelog</h3>
        <h4>v1.1.0</h4>
        <ul class="bullets">
            <li>Improved CLI</li>
            <li>Added tests for image upload, and purchase and wine editing</li>
            <li>Fixed bug where adding non-vintage wines would cause an exception</li>
        </ul>

        <h4>v1.0.2</h4>
        <ul class="bullets">
            <li>Update dependencies</li>
        </ul>

        <h4>v1.0.1</h4>
        <ul class="bullets">
            <li>Replaced notes with grape composition in wines table</li>
            <li>Scripts now stop if any step fails</li>
            <li>Added more testing</li>
        </ul>

        <h4>v1.0.0</h4>
        <p>Several major additions and changes were made to the point where it felt usable enough to be the initial
           full version.</p>
        <ul class="bullets">
            <li>Added Viticultural Area field</li>
            <li>Added Grape composition table field (many-to-many relationship)</li>
            <li>Inventory<ul class="bullets">
                <li style="list-style-type: square">Added the inventory field to each wine</li>
                <li style="list-style-type: square">Added view where the wine inventory can be viewed and easily edited</li>
            </ul></li>
            <li>Country profile improvements<ul class="bullets">
                <li style="list-style-type: square">Added flags to profile</li>
                <li style="list-style-type: square">Added viticultural areas table</li>
            </ul></li>
            <li>Improved sorting and filtering with JQuery tablesorter plug-in, removing the need for separate
                sorting and filtering views</li>
            <li>Added vector flags for U.S. states</li>
            <li>Added the ability to upload images for each wine</li>
            <li>Wine Color renamed to Type and Wine Type renamed to Name</li>
            <li>Deprecated Additional, as its purpose was no longer needed with dedicated fields for grape
                composition and viticultural area</li>
            <li>Store address field was removed as it was found to be unneeded</li>
            <li>Improved test coverage</li>
            <li>Added migrate line to the update script</li>
        </ul>

        <h4>v0.3.0</h4>
        <ul class="bullets">
            <li>Added country/region profile</li>
            <li>Added wine producer profile</li>
            <li>Fixed issue with automatic browser opening on Windows</li>
            <li>Upgraded to Django 2.0</li>
        </ul>

        <h4>v0.2.1</h4>
        <p>Minor improvements to the scripts including automatically opening the browser when running run.sh</p>

        <h4>v0.2.0</h4>
        <ul class="bullets">
            <li>Fix unit conversions</li>
            <li>Standardize button colors</li>
            <li>Update About page</li>
            <li>Add logo to navbar</li>
            <li>Better table highlighting</li>
        </ul>
    </div>
{% endblock %}
