{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="text/html">
  <title>vinoteca | {{ page_name }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "img/manifest.json" %}">
  <link rel="mask-icon" href="{% static "img/safari-pinned-tab.svg" %}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
{#    Materialize CSS Links#}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{#    Google Icon font#}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{#    Let browser know website is optimized for mobile#}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {% block head %}
    <link rel="stylesheet" href="{% static "global.bundle.css" %}">
  {% endblock %}

</head>

<body>
  <nav>
    <div class="nav-wrapper pink darken-4">
      <div class="container">
        <a href="{% url "Home"  %}" class="brand-logo"><img src="{% static "img/wine-icon.png" %}" id="logo-img">vinoteca</a>
        <a href="#" data-target="mobile" class="sidenav-trigger left hide-on-large-and-up">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">

          {% include 'menu_items.html' with id='top-dropdown' %}

        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile">

    {% include 'menu_items.html' with id='sidebar-dropdown' %}

  </ul>
  <main>
    {% block body %}{% endblock %}
  </main>


  <footer class="page-footer pink darken-4 footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text brand-logo">vinoteca</h5>
          <ul>
            <li><a class="footer-link" href="{% url "About" %}">About</a></li>
            <li><a class="footer-link" href="{% url "About" %}#changelog">Changelog</a></li>
            <li><a class="footer-link" href="{% url "About" %}#help">Help</a></li>
          </ul>
        </div>
        <div class="col l4 offset-s12 s12">
          <h5 class="white-text">API Views</h5>
          <p grey-text text-lighten-4>Simple views for more direct access to the underlying data.</p>
          <ul>
            <li>
              <a href="{% url "Grapes" %}" class="footer-link">Grapes List (Experimental)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s12 l4">
            <p>© {% now "Y" %} Carter Green<p>
          </div>
          <div class="col s12 l4">
            <p class="center">This software and its source code are distributed under the MIT License.</p>
          </div>
          <div class="col s12 l4">
            <p class="right no-indent">Version {{ version }}</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'vendors.bundle.js' %}"></script>
  {% block js %}
    <script src="{% static 'global.bundle.js' %}"></script>
  {% endblock %}
</body>
