{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="parallax-container">
        <div class="parallax"><img src="{% static "img/bourgogne.jpg" %}"></div>
    </div>
    <div class="section white">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="center bold">Welcome to <span class="brand-logo">vinoteca</span></h1>
                    <h5 class="center">A wine purchase tracker and review system.</h5>
                    <p class="center-align">
                        <a class="waves-effect btn waves-light yellow darken-2" href="{% url "New Purchase First" %}">
                            <i class="material-icons left">add_circle</i>
                            add wine
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 xl7">
                    <div class="card light-green lighten-3">
                        <div class="card-content">
                            <h2 class="card-title">Recent Purchases</h2>
                            {% include "recent_purchases.html" %}
                        </div>
                    </div>
                </div>
                <div class="col s12 xl5">
                    <div class="card pink darken-4">
                        <div class="card-content white-text">
                            <h2 class="card-title">Top Purchase Types</h2>
                            {% include "top_purchase_categories.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(function(){
    $('.parallax').parallax();
});
</script>
{% endblock %}