<div class="row center col s12">
    <a class="btn-floating btn-small waves-effect waves-light center green-bg" id="shift">↑</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">à</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">á</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">â</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ã</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">æ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">č</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ç</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">è</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">é</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ê</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ë</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">í</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">î</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ï</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ñ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ó</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ô</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">õ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">œ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">š</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ù</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ú</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">û</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ü</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-char-btn">ž</a>
</div>
