<div class="row center">
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center" id="shift">↑</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">à</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">á</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">â</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">æ</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ç</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">è</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">é</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ê</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ë</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">í</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">î</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ï</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ñ</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ó</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ô</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">œ</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ù</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ú</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">û</a>
    <a class="btn-floating btn-small waves-effect waves-light grey lighten-1 center spec-chars">ü</a>
</div>
