<div class="row center col s12">
    <a class="btn-floating btn-small waves-effect waves-light center light-gray" id="shift">↑</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">à</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">á</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">â</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ã</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">æ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">č</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ç</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">è</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">é</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ê</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ë</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">í</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">î</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ï</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ñ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ó</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ô</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">õ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">œ</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">š</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ù</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ú</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">û</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ü</a>
    <a class="btn-floating btn-small waves-effect waves-light center spec-chars">ž</a>
</div>
