{% extends 'base.html' %}
{% load static %}
{% block new-nav %}class="active"{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="pink-text text-darken-3">Enter new wine information</h2>

        <div class="row">
            <form class="col s12" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input type="text" id="auto-store" name="store" class="autocomplete">
                        <label for="auto-store">Store</label>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="purchase-date" name="purchase-date" type="text" class="datepicker">
                        <label for="purchase-date">Purchase Date</label>
                    </div>
                    <div class="input-field col s6 m2">
                        <select id="color" name="color">
                            <option value="" disabled selected>Select the color</option>
                            {% for color in colors %}
                                <option value="{{ color.color }}">{{ color.color|title }}</option>
                            {% endfor %}
                        </select>
                        <label for="color">Color</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input type="text" id="auto-wine-type" name="wine-type" class="autocomplete" required>
                        <label for="auto-wine-type">Wine Type</label>
                    </div>
                    <div class="input-field col s6 m3">
                        <input type="text" id="auto-producer" name="producer" class="autocomplete" required>
                        <label for="auto-producer">Producer</label>
                    </div>
                    <div class="input-field col s6 m3">
                        <input type="text" id="auto-country" name="country" class="autocomplete">
                        <label for="auto-country">Region</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="auto-additional" type="text" name="additional" class="autocomplete">
                        <label for="auto-additional">Additional</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="description" name="description" type="text" class="validate">
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="notes" name="notes" type="text" class="validate">
                        <label for="notes">Notes</label>
                    </div>
                    <div class="range-field col s4 m2">
                        <div class="switch">
                            <label for="have-rating">
                                No Rating
                                <input type="checkbox" id="have-rating" name="have-rating">
                                <span class="lever"></span>
                                Rating
                            </label>
                        </div>
                        <label for="rating"></label>
                        <p class="range-field">
                            <input type="range" id="rating" name="rating" min="0" max="10" disabled>
                        </p>
                    </div>
                    <div class="input-field col s4 m2">
                        <input id="price" name="price" type="number" class="validate" step="0.01">
                        <label for="price">Price</label>
                    </div>
                    <div class="input-field col s4 m2">
                        <input id="vintage" name="vintage" type="number" class="validate" value="{% now "Y" %}">
                        <label for="vintage">Vintage</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 m2">
                        <input id="quantity" name="quantity" type="number" class="validate" value=1>
                        <label for="quantity">Quantity</label>
                    </div>
                    <div class="input-field col s8 m4">
                        <input id="why" name="why" type="text" class="validate">
                        <label for="why">Why</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="store-address" name="store-address" type="text" class="validate">
                        <label for="store-address">Store Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light light-green lighten-2" type="submit" name="action">
                            Submit<i class="material-icons right">send</i>
                        </button>
                        <a class="waves-effect waves-light btn pink darken-3" href={% url "Home" %}>cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        /* Autocompletion */
        var producers = [
            {% for producer in producers %}"{{ producer.name }}",{% endfor %}
        ];
        var $store = $('#auto-store');
        var $producer = $('#auto-producer');
        var $country = $('#auto-country');
        var $have_rating = $('#have-rating');
        $(document).ready(function() {
            $('.datepicker').pickadate({
                selectMonths: true,             // Creates a dropdown to control month
                selectYears: 15,                 // Creates a dropdown of 5 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false            // Close upon selecting a date,
            });
            $('select').material_select();
            $($store).autocomplete({
                data: {
                    {% for store in stores %}
                        "{{ store.name }}": null,
                    {% endfor %}
                },
                limit: 5,
                minLength: 1
            });
            $('#auto-wine-type').autocomplete({
                data: {
                    {% for wine_type in wine_types %}
                        "{{ wine_type.type_name }}": null,
                    {% endfor %}
                },
                limit: 5,
                minLength: 1
            });
            $producer.autocomplete({
                data: {
                    {% for producer in producers %}
                        "{{ producer.name }}": null,
                    {% endfor %}
                },
                limit: 5,
                minLength: 1
            });
            {# Disable country selection if producer is chosen and show grayed country for that producer #}
            $($producer).change(function () {
                if ($.inArray($(this).val(), producers) !== -1) {
                    $.get("{% url "Get Producer Country JSON" %}", {'producer': $(this).val()}, function (responseJSON) {
                        $($country).val(responseJSON["country_name"]);
                        $($country).prop('disabled', true);
                        $("label[for='auto-country']").text("");
                    })
                } else {
                    $($country).prop('disabled', false);
                    $($country).val("");
                    $("label[for='auto-country']").text("Country");
                }
            });
            $($country).autocomplete({
                data: {
                    {% for country in countries %}
                        "{{ country.name }}": {% if country.name in  flags  %} "/static/img/flags/{{ country.name }}.svg", {% else %} null, {% endif %}
                    {% endfor %}
                },
                limit: 5,
                minLength: 1
            });
            $('#auto-additional').autocomplete({
                data: {
                    {% for additional in additionals %}
                        "{{ additional.additional }}": null,
                    {% endfor %}
                },
                limit: 5,
                minLength: 1
            });
            $($have_rating).attr('checked', !$('#rating')[0].disabled);
            $($have_rating).click(function () {
                $('#rating').attr('disabled', !this.checked);
            });
        });
    </script>
{% endblock %}