{% extends 'base.html' %}
{% load static %}
{% block new-nav %}class="active"{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="pink-text text-darken-3">Find previously purchased wine</h2>
        <div class="col s12">
            <button class="btn waves-effect waves-light yellow darken-2" id="reset-btn">Reset Filters</button>
        </div>
        <form autocomplete="off">
            <div class="row">
                <div class="input-field col s4 l2">
                    <select id="color" name="color">
                        <option value="" selected>Select the color</option>
                        {% for color in colors %}
                            <option value="{{ color.color }}">{{ color.color|title }}</option>
                        {% endfor %}
                    </select>
                    <label for="color">Color</label>
                </div>
                <div class="input-field col s8 l4">
                    <input type="text" id="auto-wine-type" name="wine-type" class="autocomplete">
                    <label for="auto-wine-type">Type</label>
                </div>
                <div class="input-field col s6 l3">
                    <input type="text" id="auto-producer" name="producer" class="autocomplete">
                    <label for="auto-producer">Producer</label>
                </div>
                <div class="input-field col s6 l3">
                    <input type="text" id="auto-region" name="country" class="autocomplete">
                    <label for="auto-region">Region</label>
                </div>
                <div class="input-field col s6 l3">
                    <input type="text" id="auto-viti-area" name="viti-area" class="autocomplete">
                    <label for="auto-viti-area">Viticultural Area</label>
                </div>
            </div>
        </form>
        <div class="row">
            {% include "special_chars.html" %}
        </div>
        <div class="row">
            <table class="highlight responsive-table" hidden>
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Name and Type</th>
                        <th>Producer</th>
                        <th>Region</th>
                        <th>Viticultural Area</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <h5 id="no-results" hidden>No results found.</h5>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="module">
import { toggleRegion, updateVitiAreaSelections, toggleRating, showNextGrapeInput, resetFormBtn, liveWineSearch } from '{% static "js/new_wines.js" %}';
import { autocomplete, datepicker } from "{% static "js/widgets.js" %}";

const producer = $('#auto-producer');
const region = $('#auto-region');

$(function(){
    $('select').material_select();
    {# Search fields autocomplete #}
    autocomplete("wine-type");
    autocomplete("producer");
    autocomplete("region");
    autocomplete("viti-area");

    toggleRegion(producer, region, "{% url "Get Producer Country JSON" %}", "{% url "Get Producers JSON" %}");

    resetFormBtn();
    liveWineSearch($(".input-field"), "{% url "Search Wines JSON" %}", $("#auto-wine-type"), $("#color"), producer,
        region, $("#auto-viti-area"));
});
</script>
<script type="text/javascript" src="{% static "js/special_chars.js" %}"></script>
{% endblock %}
